@import './fonts.css';

/* CSS for screen sizes ipad(orientation portrait) and bigger*/
body {
  background: url("../images/adrian-infernus_kowatsch_konstruktion_p.jpg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#393939;
  display: flex;
  justify-content: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.width {
  width: 944px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 240px;
}

#title {
  align-self: flex-end;
  padding: 0 0px 30px 30px;
  margin: 0;
}

#logo {
  align-self: flex-start;
  padding: 40px 40px 0px 0px;
  height: 74px;
  margin: 0;
}

.linkToMain {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 944px;
  height: 916px;
}

.container-element__top {
  padding: 60px 60px;
}

.toggleTextSize {
  font-family: "FuturaPTBook", Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 28px;
  line-height: 38px;
  color: #393939;
}

.container-element__top p {
  margin: 0;
}

.container-element__center {
  display: flex;
  flex-direction: row;
  align-content: start;
  padding: 0px 60px;
  margin-bottom: auto;
}

.contact-left {
  display: flex;
  flex-direction: column;
  padding: 0 60px 0 0;
  color: #393939;
}

.contact-left__element {
  margin-bottom: 32px;
}

#address {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-right {
  display: flex;
  flex-direction: column;
  padding: 0 60px 0 0;
}

.contact-right__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.link {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  width: 944px;
  height: 75px;
  margin-top: auto;
}

.footer a {
  padding-right: 30px;
  padding-left: auto;
}

.footer a:hover {
  color:#62A2E2;
}

/* CSS for screen sizes between ipadPortrait and big smartphones*/
@media only screen and (max-width: 944px) and (orientation: portrait){
  .width {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .footer {
    width: 100%;
  }
}


/* CSS for screen sizes smaller than big smartphones*/
@media only screen and (max-width: 768px){
  .width {
    width: 100%;
  }

  .header {
    height: 300px;
  }

  .container {
    width: 100%;
  }

  .container-element__top {
    padding: 30px 30px 30px 30px;
  }

  .container-element__center {
    flex-direction: column;
    padding: 30px 30px 30px 30px;
  }

  .toggleTextSize {
    font-family: "FuturaPTBook", Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #393939;
  }

  .footer {
    width: 100%;
  }
}
