/* Fonts & Absatzformate */
@font-face {
  font-family: "FuturaPTDemi";
  src: url("/fonts/FuturaPTDemi/font.woff2") format("woff2"),
       url("/fonts/FuturaPTDemi/font.woff") format("woff");
}

.brand {
  font-family: "FuturaPTDemi", Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.9px;
  line-height: 30px;
  color: #FFFFFF;
}

@font-face {
  font-family: "FuturaPTBook";
  src: url("/fonts/FuturaPTBook/font.woff2") format("woff2"),
       url("/fonts/FuturaPTBook/font.woff") format("woff");
}

.textMedium {
  font-family: "FuturaPTBook", Futura, Trebuchet MS, Arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  color: #393939;
}

.textMediumLink {
  font-family: "FuturaPTBook", Futura, Trebuchet MS, Arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  color: #0171E0;
}

.textLarge {
  font-family: "FuturaPTBook", Futura, Trebuchet MS, Arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;
  color: #393939;
}

.subhead {
  font-family: "FuturaPTBook", Futura, Trebuchet MS, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #393939;
  margin-top: 0px;
  margin-bottom: 12px;
}

@font-face {
  font-family: "FuturaPTMedium";
  src: url("/fonts/FuturaPTMEdium/font.woff2") format("woff2"),
       url("/fonts/FuturaPTMedium/font.woff") format("woff");
}

.legalLink {
  font-family: "FuturaPTMedium", Futura, Trebuchet MS, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #F2F2F2;
  text-decoration: none;
}


/* CSS for screen sizes ipad(orientation portrait) and bigger*/
body {
  background: url("../images/adrian-infernus_kowatsch_konstruktion.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  margin: 0;
}

.width {
  width: 944px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 244px;
}

#header {
  align-self: flex-end;
  padding: 0 0px 22px 30px;
  margin: 0;
}

#logo {
  align-self: flex-start;
  height: 74px;
  padding: 40px 0 ;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 944px;
  height: 916px;
}

.container-element__top {
  padding: 60px 60px;
}

.toggleTextSize {
  font-family: "FuturaPTBook", Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 28px;
  line-height: 38px;
  color: #393939;
}

.container-element__top p {
  margin: 0;
}

.container-element__center {
  display: flex;
  flex-direction: row;
  align-content: start;
  padding: 0px 60px;
  margin-bottom: auto;
}

.contact-left {
  display: flex;
  flex-direction: column;
  padding: 0 60px 0 0;
  color: #393939;
}

.contact-left__element {
  margin-bottom: 32px;
}

.contact-right {
  display: flex;
  flex-direction: column;
  padding: 0 60px 0 0;
}

.contact-right__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.link {
  text-decoration: none;
}

.footer {
 display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  width: 944px;
  height: 75px;
  margin-top: auto;
}

.footer a {
  padding-right: 40px;
  padding-left: auto;
}


/* CSS for screen sizes between ipadPortrait and big smartphones*/
@media (max-width: 944px) {
  .width {
    width: 100%;
  }

  #logo {
  padding: 40px 40px;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .footer {
    width: 100%;
  }
}


/* CSS for screen sizes smaller than big smartphones*/
@media (max-width: 768px) {
  .width {
    width: 100%;
  }

  .container-element__center {
   flex-direction: column;
  }

  .toggleTextSize {
    font-family: "FuturaPTBook", Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #393939;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .footer {
    width: 100%;
  }
}
